## .NET
bin/
obj/
artifacts/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
launchSettings.json

## NuGet
*.nupkg
*.snupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## User-specific
*.rsuser
*.DotSettings.user

## OS
Thumbs.db
desktop.ini
.DS_Store
